.container {

  &--bg {
    position: relative;

    &:before {
      content: " ";
      $offset: 140px;

      position: absolute;
      background-color: $color-background;
      z-index: -1;
      height: calc(100% - #{$offset / 4 * 3});
      width: 200%;
      top: $offset;
      left: -50%;
      transform-origin: center;
      transform: rotate(-8deg);
      overflow: hidden;
    }
  }

  @include breakpoint(medium) {
  }

  &__inner {
    max-width: calc(100% - 40px);
    padding: 0 20px;
    margin: auto;
    width: 720px;

    @include breakpoint(large) {
      max-width: 100%;
    }
  }
}
