.container {

  &--bg {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    @include breakpoint(medium) {
      overflow-x: visible;
      overflow-y: visible;
    }

    &:before {
      content: " ";
      $offset: 140px;

      position: absolute;
      background-color: $color-background;
      z-index: -1;
      height: calc(100% - #{$offset / 4 * 3});
      width: 200%;
      top: $offset;
      left: -50%;
      transform-origin: center;
      transform: rotate(-8deg);
      overflow: hidden;
    }
  }

  &__inner {
    max-width: calc(100% - 40px);
    padding: 0 20px;
    margin: auto;

    @include breakpoint(large) {
      max-width: 100%;
      width: 720px;
    }
  }
}
