.headline {
  @include font-headline;
  position: relative;
  display: flex;
  align-items: center;

  &::after {
    $size: 8px;
    content: "";
    width: $size;
    height: $size;
    margin-left: $size;
    background-color: $color-detail;
    background-size: $size;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 50%;
  }

  @include breakpoint(medium) {
  }
}
