.intro {
  padding: 48px 0 80px;

  @include breakpoint(medium) {
    padding: 160px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }

  &__desc {

    @include breakpoint(medium) {
      max-width: 49%;
    }
  }

  &__pic {
    $size: 240px;
    position: relative;
    width: $size;
    max-width: 100%;
    margin-bottom: 50px;
    // box-shadow: -16px 16px 0px 4px $color-background;
    height: auto;
    border-radius: 50%;

    @include breakpoint(medium) {
      max-width: 49%;
      margin-bottom: 0;
      // box-shadow: 16px 16px 0px 4px $color-background;
    }
  }
}
